body {
    background-image: url(Oceania.jpeg);
    background-color: black;
}
h1 {
    color: #93E9BE;
    background-color: #13265C;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 50px;
}
#messages {
    border-radius: 15px;
    align-self: cente;
    margin: auto;
    padding: 50px;
    width: 50%;
    height: 400px;
    background: #35393b;
    overflow: scroll;
}
#replyDiv {
    display: none;
    background-color: white;
    background-image: url(Cool-Whale.jpeg);
    border-radius: 25px;
    padding: 20px;
    overflow: scroll;
}
#message {
    align-content: center;
    width: fit-content;
    overflow-wrap: break-word;
    border-radius: 25px;
    padding: 20px;
    color: black;
    background-color: #93E9BE;
}
.repCom {
    overflow-wrap: break-word;
    border-radius: 25px;
    padding: 20px;
    color: black;
    background-color: grey;
}
.repUser {
    border-radius: 25px;
    background-color: black;
}
#message:hover, #message:focus {
    background-color: #1FB57A;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 10px;
}
#username {
    border-radius: 25px;
    background-color: #87ceeb;
    color: black;
    position: absolute;
    left: 50px;
    top: 50px;
    
}
#enter {
    position: relative;
    right: -675px;
    top: 10px;
}
select {
    border-radius: 25px;
    background-color: lightcoral;
    color: red;
    position: absolute;
    left: 50px;
    top: 73px;
}
p {
    border-radius: 25px;
    padding: 5px;
    width: fit-content;
}
.userStyle {
    color: red
}
.red {
    background-color: lightcoral; 
    color: red;}
.blue {
    background-color: #87ceeb;
    color: navy;}
.green {
    background-color: #93E9BE;
    color: darkgreen;}
.purple {
    background-color: #CBC3E3;
    color: #9400d3;}